<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    Document
    {% endblock %}
  </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/favicon.png') }}">
</head>
<body>
  <div id="flash" class="flash-style flash-hiden"></div>
  <header>
    <nav>
      <a href="/order-list">ORDER LIST</a>
      <a href="/order">ORDER</a>
      <div class="headerBack" id="headerBack"></div>
    </nav>
  </header>
  
  <button id="admin-button" class="admin-button">管理者ログイン</button>

  <div id="admin" class="hidden">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div>
      <p>IDまたは名前</p><input type="text" name="name">
    </div>
    <div>
      <p>パスワード</p><input type="password" name="password">
    </div>
    <button id="submit" class="submit">ログイン</button>
  </div>

  <main>
    {% block main %}
    {% endblock %}
  </main>

  <script src="{{ url_for('static', filename='script/public/script.js') }}"></script>
</body>
</html>