{% extends "base.html" %}

{% block title %}
ORDER LIST
{% endblock %}

{% block main %}
<main>
  <div id="order-list-container" class="order-list-container">
    <div class="order-list-header">
      <p class="provide-num">番号</p>
      <p class="provide-item">商品名</p>
      <p class="provide-options">オプション</p>
      <p class="provide-quantity">数量</p>
    </div>
  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="module" src="{{ url_for('static', filename='script/public/order-list.js') }}"></script>
{% endblock %}
