{% extends "base.html" %}

{% block title %}
ORDER
{% endblock %}

{% block main %}
<main style="display: flex;">
  <div class="order-container" id="products"></div>
  <div>
    <select name="order-number">
      <option value="1" disabled>1</option>
      <option value="2" disabled>2</option>
      <option value="3" disabled>3</option>
      <option value="4" disabled>4</option>
      <option value="5" disabled>5</option>
      <option value="6" disabled>6</option>
      <option value="7" disabled>7</option>
      <option value="8" disabled>8</option>
      <option value="9" disabled>9</option>
      <option value="10" disabled>10</option>
      <option value="11" disabled>11</option>
      <option value="12" disabled>12</option>
      <option value="13" disabled>13</option>
      <option value="14" disabled>14</option>
      <option value="15" disabled>15</option>
      <option value="16" disabled>16</option>
      <option value="17" disabled>17</option>
      <option value="18" disabled>18</option>
      <option value="19" disabled>19</option>
      <option value="20" disabled>20</option>
      <option value="21" disabled>21</option>
      <option value="22" disabled>22</option>
      <option value="23" disabled>23</option>
      <option value="24" disabled>24</option>
      <option value="25" disabled>25</option>
      <option value="26" disabled>26</option>
      <option value="27" disabled>27</option>
      <option value="28" disabled>28</option>
      <option value="29" disabled>29</option>
      <option value="30" disabled>30</option>
      <option value="31" disabled>31</option>
      <option value="32" disabled>32</option>
      <option value="33" disabled>33</option>
      <option value="34" disabled>34</option>
      <option value="35" disabled>35</option>
      <option value="36" disabled>36</option>
      <option value="37" disabled>37</option>
      <option value="38" disabled>38</option>
      <option value="39" disabled>39</option>
      <option value="40" disabled>40</option>
      <option value="41" disabled>41</option>
      <option value="42" disabled>42</option>
      <option value="43" disabled>43</option>
      <option value="44" disabled>44</option>
      <option value="45" disabled>45</option>
      <option value="46" disabled>46</option>
      <option value="47" disabled>47</option>
      <option value="48" disabled>48</option>
      <option value="49" disabled>49</option>
      <option value="50" disabled>50</option>
    </select>
    <div class="will-order-list" id="will-order-list">
    </div>
    <button id="order-submit" class="order-submit"><span>注文内容を送信</span></button>
  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="module" src="{{ url_for('static', filename='script/public/order.js') }}"></script>
{% endblock %}
