<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SALES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
  <div class="background">
    <div class="black-cover">
      <h1 style="color: rgb(236, 244, 251); text-align: center; font-size: 55px; margin-top: 25%;">売り上げ合計金額</h1>
      <h1 class="sales">¥{{ sales }}</h1>
    </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script>
  const socket = io.connect('https://order.nfolio.one');
  const sales = document.querySelector("h1.sales");
  socket.on('sales', (data) => {
    sales.innerText = data;
  });
  </script>
</body>
</html>